.tabs {
  border-radius: 0.25em;
  max-width: 40em;
  margin: auto;
}

.tabs ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.tabs ul li {
  list-style: none;
  padding: 0.5em 1em;
  width: 50%;
  min-height: 48px;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  border: 1px solid #262A53;
  background-color: #FFE3E3;
}

.tabs ul li button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1em;
  padding: 0.5em;
}

.current_tab {
  background-color: #FFF !important;
  border-bottom: #FFF !important;
}